<!DOCTYPE html>
<html>
<head>
    <title>Movie Search</title>
</head>
<body>
    <h1>Movie Search</h1>
    <form action="/search" method="POST">
        <label for="title">Movie Title:</label>
        <input type="text" id="title" name="title">

        <label for="actor">Actor:</label>
        <input type="text" id="actor" name="actor">

        <label for="genre">Genre:</label>
        <input type="text" id="genre" name="genre">

        <label for="director">Director:</label>
        <input type="text" id="director" name="director">

        <label for="yearfrom">Year From:</label>
        <input type="text" id="yearfrom" name="yearfrom">

        <label for="yearto">Year To:</label>
        <input type="text" id="yearto" name="yearto">

        <input type="submit" value="Search">
    </form>
</body>
</html>
